$base: 38px;
.category-link-main {
  .category-link-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 15px;
  }

  .category-link {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    top: 50%;
    width: 100%;
    height: $base * 1.5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 1), 0 4px 14px rgba(0, 0, 0, 0.7);
    z-index: 1;
    background-color: #ddd;
    font-size: 14px;
  }

  .category-link a {
    position: relative;
    display: flex;
    flex-grow: 1;
    text-decoration: none;
    margin: auto;
    height: 100%;
    padding-left: $base;
    padding-right: 0;
    color: #666;
    cursor: pointer;
  }

  .category-link a:first-child {
    padding-left: $base / 2.5;
  }

  .category-link a:last-child {
    padding-right: $base / 2.5;
  }

  .category-link a:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: $base * 1.5;
    height: $base * 1.5;
    top: 0;
    right: $base / 1.35 * -1;
    background-color: #ddd;
    border-top-right-radius: 5px;
    transform: scale(0.707) rotate(45deg);
    box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  .category-link a:last-child:after {
    content: none;
  }

  .category-link__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 2;
  }

  .category-link__title {
    font-weight: bold;
    display: flex;
    align-items: center;
    svg {
      margin-left: 5px;
    }
  }

  .category-link a.active,
  .category-link a:hover {
    background: #5d120f;
    color: white;
  }

  .category-link a.active:after,
  .category-link a:hover:after {
    background: #5d120f;
    color: white;
  }
  
  .disabled-link {
    pointer-events: none;
  }

  // 1000px
  ///////////////////////
  @media all and (max-width: 1000px) {
    .category-link {
      font-size: 12px;
    }
  }

  // 710px
  ///////////////////////
  @media all and (max-width: 710px) {
    .category-link__desc {
      display: none;
    }

    .category-link {
      height: $base;
    }

    .category-link a {
      padding-left: $base / 1.5;
    }

    .category-link a:after {
      content: '';
      width: $base * 1;
      height: $base * 1;
      right: $base / 2 * -1;
      transform: scale(0.707) rotate(45deg);
    }
  }
}
